.page-inner{
    width: 70%!important;
    max-width: 1200px;

    p, li, span, tr, td, div{
        font-size: 14px!important;
    }
}

h1{
    font-size: 1.80em!important;
}

h2{
    font-size: 1.6em!important;
}

h3{
    font-size: 1.45em!important;
}

h4{
    font-size: 1.3em!important;
}

h5{
    font-size: 1.15em!important;
}

h6{
    font-size: 1.0em!important;
}

.book-summary{
    width: 260px;
}

.book.with-summary .book-body{
    left: 260px!important;
}

@media (max-width: 768px){
    .book-header{
        padding: 0;
        position: fixed;
    }

    nav.intopic-toc{
        display: none;
    }

    div.page-wrapper{
        display: block;
        margin-top: 1.2em;
    }

    div.page-inner{
        width: 100%!important;
        p, li, span, tr, td, div{
            font-size: 12px!important;
        }
    }

    .book-header a{
        display: none!important;
    }

    .book-header a:first-child{
        display: block!important;
    }

    .book-header a:first-child i{
        font-size: 1.5em;
    }

    h1{
        font-size: 1.40em!important;
      
    }

    h2{
        font-size: 1.3em!important;
    }

    h3{
        font-size: 1.2em!important;
    }

    h4{
        font-size: 1.1em!important;
    }

    h5{
        font-size: 1.0em!important;
    }

    h6{
        font-size: 0.9em!important;
    }
}